{
  "NODE_ENV": "DEV",
  "PORT": "80",
  "DB_HOST": "",
  "DB_NAME": "",
  "DB_USER": "",
  "DB_PASS": "",
  "COOKIE_SECRET": "12345",
  "COOKIE_PREFIX": "LD",
  "UPLOAD_DIST": "",
  "UPLOAD_STATIC_PATH": "",
  "STATIC_HASH": "",

  "PASSPORT": {
    "FACEBOOK_APP_ID": "",
    "FACEBOOK_APP_SECRET": "",
    "FACEBOOK_CALLBACK_URL": "",
    "GITHUB_CLIENT_ID": "",
    "GITHUB_CLIENT_SECRET": "",
    "GITHUB_CALLBACK_URL": "",
    "YOUTUBE_CLIENT_ID": "",
    "YOUTUBE_CLIENT_SECRET": "",
    "YOUTUBE_CALLBACK_URL": "",
    "GOOGLE_CLIENT_ID": "",
    "GOOGLE_CLIENT_SECRET": "",
    "GOOGLE_CALLBACK_URL": "",
    "TELEGRAM_BOT_TOKEN": ""
  }
}
